html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.jumbotron {
  background: url("background.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh; 
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.jumbotron h1 {
  font-size: 3rem;
}
.navbar {
  background-color: transparent;
  transition: background-color 0.3s;
}
.navbar a {
  color: #fff; /* Warna teks Navbar */
}
.navbar-brand {
  color: #fff; /* Warna teks brand Navbar */
}
.typing-text {
  font-size: 40pt;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
}

.caret {
  border-left: .15em solid rgb(255, 255, 255);
  margin-right: 0.2em;
  height: 1em; /* Tambahkan tinggi untuk caret */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255) }
}